{% extends 'base.html' %}
{% load leaflet_tags %}

{% block content %}
	<script type="text/javascript">
	    function map_init_basic (map, options) {
	        L.marker(["{{ object.latitude }}", "{{ object.longitude }}"]).addTo(map).bindPopup('{{ object.description }}')
    .openPopup();;
	    }
	</script>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>{{ object.name }}</h2>
                <p>{{ object.description }}<br>

                {% leaflet_map "project_location" callback="window.map_init_basic" %}

                {% if request.user != object.user and request.user not in object.participants.all %}
                <a href="{% url 'projects:project-add-user' object.id %}">Participate</a>
                {% endif %}
            </div>
            <div class="col-lg-3">
            <h2>Hotels nearby</h2>
            {% for hotel in object.hotels %}
            <h3><a href="http://www.laterooms.com/en/hotel-reservations/{{ hotel.id }}.aspx">{{ hotel.name }}</a></h3>
                <img class="img-responsive" src="{{ hotel.img }}" alt="{{ hotel.name}}">
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}
