{% extends 'base.html' %}
{% load leaflet_tags %}

{% block content %}
	<script type="text/javascript">
	    function map_init_basic (map, options) {
	        L.marker(["{{ object.latitude }}", "{{ object.longitude }}"]).addTo(map).bindPopup('{{ object.description }}')
    .openPopup();;
	    }
	</script>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>{{ object.name }}</h1> 
                <div class="panel panel-success">
                <h3>What is this project about?</h3>
                <h4>{{ object.description }}</h4>
                <h3> Who runs this event? </h3>
                <h4> {{ object.user }} </h4>
                <h3> Location: </h3>
                {% leaflet_map "project_location" callback="window.map_init_basic" %}
                                        </div>

                {% if request.user != object.user and request.user not in object.participants.all %}
                </br></br>
                <button class="btn btn-success btn-large" href="{% url 'projects:project-add-user' object.id %}">Participate!</button>
                {% endif %}
            </div>
            <div class="col-lg-3">
            {% if object.hotels %}
            <h2>Hotels nearby</h2>
            {% for hotel in object.hotels %}
            <div class="thumbnail">
                <p><a href="http://www.laterooms.com/en/hotel-reservations/{{ hotel.id }}.aspx">{{ hotel.name }}</a></p>
                <img class="img-responsive" src="{{ hotel.img }}" alt="{{ hotel.name}}">
            </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>


{% endblock content %}
