{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Start a new project today!</h1>
  <p>Create a new project today and attract like-minded volunteers from across the lands to join you in your future goals!</p>
  <p><a href="{% url 'projects:project-create' %}" class="btn btn-success btn-lg" role="button">Create Project</a></p>
</div>
</br></br>
<div class="list-group">
	{% for project in projects %}
		<a class="list-group-item" href="{% url 'projects:project-detail' project.user.username project.slug %}">{{ project.name }}</a><br>
	{% endfor %}
</div>
{% endblock content %}